<!DOCTYPE html>
<html>
<head>
	<title> CUBE </title>
	<link rel="stylesheet" href="reset.css">
</head>
<body>
	<header>
		<%= image_tag("the-logo.jpg",:alt => "CUBE", :class => "round", :width => "200px")%>
	</header>
	<nav>
		<ul>
			<li><a href="#">Home</a></li>
		<li><a href="#">Help</a></li>
		<li><a href="#">Contact</a></li>
	</ul>

	</nav>
	<section id="intro">
		<header> 
			<h2>Do you know what CUBE is?</h2>
		</header>
		<p>Collaborate and Understand,Best way of Education</p>

	</section>
	<section>
		<article class="cube_post">
			<header>
				<h2> This is CUBE by BoTree Consultancy </h2>

			</header>
		</article>

	</section>
	<aside>
<%= yield %>
	</aside>
	<footer>
	</footer>
</body>
</html>
